<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Фотобаза</title>
    {% load staticfiles %}
    <script src="{% static "JS/jQuery.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="{% static "bootstrap-4.3.1-dist/js/bootstrap.min.js" %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static "bootstrap-4.3.1-dist/css/bootstrap.min.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "CSS/style.css" %}">
    <meta name="viewport" content="width=device-width">
</head>
<body>
<!-- <div class="text-center" style="margin-top: 50px;">
    <h1 class="">База фотографий</h1>
</div> -->
<div class="container-fluid text-center header">
    <h2>Загрузка файла</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container" style="width: 500px;">
                <input type="file" class="form-control-file" name="picture">
                <button type="submit" class="">Загрузить картинку</button>
            </div>
        </div>
    </form>
</div>
<div class="text-center">
<div class="container" id="main-container">
    <div class="row">
        {% for picture in pictures_list %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-lg my-card" style="width: auto;">
                    <img class="card-image" src="{{ picture.path_thumbnails }}" style="width: 100%; height: 300px; border-radius: 2px;">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{{ picture.path }}" download="{{ picture.name }}" class="btn btn-outline-secondary">Скачать</a>
                                <a href="{{ picture.path }}" class="btn btn-outline-primary">Открыть</a>
                                <a href="" class="btn btn-outline-danger">Удалить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</div>
<script src={% static "/JS/main.js" %}></script>
</body>
</html>