<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Фотобаза</title>
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{% static "/CSS/style.css" %}">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <meta name="viewport" content="width=device-width">
</head>
<body>
<div id="main_container" class="container">
    <h1 class="text-center">[[ title ]]</h1>
</div>
<div class="container input-container" style="margin-bottom: 30px">
    <h2>Загрузка файла</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <input type="file" class="form-control-file" name="picture">
            <button type="submit" class="btn btn-outline-primary">Загрузить картинку</button>
        </div>
    </form>
</div>
{% for picture in pictures_list %}
    <a href="{{ picture.path }}"><img class="card-image" src="{{ picture.path_thumbnails }}"></a>
    <a href="{{ picture.path }}" download="{{ picture.name }}" class="download-button">Скачать</a>
{% endfor %}
<script src={% static "/JS/main.js" %}></script>
</body>
</html>