body {
    background-color: #828282;
}

#main-container {
    background-color: #525252;
    padding: 15px;
    border-radius: 5px;
    min-height: 500px;
    margin-bottom: 20px;
}

.header {
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: #333;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
  }

  .my-card {
      box-shadow: 0 0 7px rgba(0,0,0,0.5) !important;
      transition: box-shadow 0.08s ease-in-out;
      transition: transform 0.08s ease-in-out;
      background-color: #333;
  }

  .my-card:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.6) !important;
    transform: scale(1.009, 1.009);
}

#warning {
    color: #CC0000;
}